In [ ]:
import pandas as pd
from pandas import Series, DataFrame
all_stars = pd.read_csv('pulsar_stars_new.csv', usecols=['MIP', 'TG'])

kek = all_stars[(all_stars['TG'] == 0) & (85.5234375 <= all_stars['MIP']) & (all_stars['MIP'] <= 86.6171875) | (all_stars['TG'] == 1) & (65.078125 <= all_stars['MIP']) & (all_stars['MIP'] <= 70.7421875)] 
#all_stars.MIP.describe()

              MIP          TG
count  202.000000  202.000000
mean    76.901029    0.500000
std      9.286202    0.501242
min     65.078125    0.000000
25%     67.693359    0.000000
50%     78.132812    0.500000
75%     86.121094    1.000000
max     86.617188    1.000000

In [66]:
import chardet
import pandas as pd

with open('report.csv', 'rb') as f:
    enc = chardet.detect(f.read())  # or readline if the file is large
    
pd.read_csv('report.csv', encoding = enc['encoding'])

              REGION_NAME  SALARY
0          ¿¿¿¿¿¿¿¿¿ ¿¿¿¿   25960
1        ¿¿¿¿¿¿¿¿ ¿¿¿¿¿¿¿   43156
2   ¿¿¿¿¿¿¿¿¿¿¿¿¿ ¿¿¿¿¿¿¿   47526
3    ¿¿¿¿¿¿¿¿¿¿¿¿ ¿¿¿¿¿¿¿   32166
4    ¿¿¿¿¿¿¿¿¿¿¿¿ ¿¿¿¿¿¿¿   31163
..                    ...     ...
80   ¿¿¿¿¿¿¿¿¿ ¿¿¿¿¿¿¿¿¿¿   26108
81   ¿¿¿¿¿¿¿¿¿ ¿¿¿¿¿¿¿¿¿¿   27028
82           ¿¿¿¿¿¿¿¿¿ ¿¿   96930
83      ¿¿¿¿¿-¿¿¿¿¿¿¿¿ ¿¿   86560
84    ¿¿¿¿¿¿¿¿¿¿¿ ¿¿¿¿¿¿¿   33882

[85 rows x 2 columns]

In [78]:
import codecs
text = codecs.open('report.csv', 'r', 'utf-8')
print(text)

<codecs.StreamReaderWriter object at 0x000001587617C130>

In [81]:
import csv
with open('report.csv', encoding='unicode_escape', mode='r') as csvfile:
    csv_reader = list(csv.reader(csvfile, delimiter=','))

    print(csv_reader)

Error: iterator should return strings, not bytes (did you open the file in text mode?)

In [155]:
import pandas as pd
df = pd.read_csv('dataS.csv', delimiter=',', usecols=['salary', 'region_name'])
df.describe
#df.head(10)

<bound method NDFrame.describe of               region_name  salary
0          Алтайский край   25960
1        Амурская область   43156
2   Архангельская область   47526
3    Астраханская область   32166
4    Белгородская область   31163
..                    ...     ...
80   Чеченская Республика   26108
81   Чувашская Республика   27028
82           Чукотский АО   96930
83      Ямало-Ненецкий АО   86560
84    Ярославская область   33882

[85 rows x 2 columns]>

In [171]:
import pandas as pd
df = pd.read_csv('dataS.csv', delimiter=',', usecols=['salary', 'region_name'], index_col='region_name')
df.describe
df1 = df.drop(axis=0, labels=['Самарская область', 'Нижегородская область', 'Кемеровская область', 'Приморский край', 'Ненецкий АО'])
df1.describe
df_sorted = df1.sort_values(by='salary', ascending=True)
df_sorted.describe
medium = (df_sorted.salary[39] + df_sorted.salary[40]) / 2
print(medium)

32089.5

In [184]:
import pandas as pd
def swap(v, x, y):
    t = v[x]
    v[x] = v[y]
    v[y] = t
def sorte(func):
    for i in range(len(func.index)):
        l = i
        for k in range(i+1, len(func.index)-1):
            if func.salary[k] < func.salary[l]:
                l = k
        swap(func, l, i)

df = pd.read_csv('dataS.csv', delimiter=',', usecols=['salary', 'region_name'], index_col='region_name')
df.describe
df1 = df.drop(axis=0, labels=['Самарская область', 'Нижегородская область', 'Кемеровская область', 'Приморский край', 'Ненецкий АО'])
df1.describe
df2 = sorte(df1)

KeyError: 45

In [161]:
df1 = df.drop(axis=0, labels=['Самарская область', 'Нижегородская область', 'Кемеровская область', 'Приморский край', 'Ненецкий АО'])
df1.describe()
df2 = sorted(df1)
mediana = (df2[39] + df2[40])/2

IndexError: list index out of range

In [ ]:
>>> sorted("This is a test string from Andrew".split(), key=str.lower)
['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']